.model{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    display: inline-block;
    width: 250px;
    background: #eeeff1;
    position: static;
    
}
.model ul{
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.modelname{
    border: solid #e8e9ec 1px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    text-align: center;
}

.tracks{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: auto;
    display: inline-block;
    border: solid #e8e9ed 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 230px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-top: 10px;
    position: relative;
    bottom: 0;
}
.btn{
    display: inline-block;
    width: 100%;
    padding-bottom: 4px;
    background: #232e36;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    font-size: 17px;
}
.btn:hover {
    background: #334450;
}